/* @media screen and (max-width:600px) {
    .app {
        scroll-snap-type: y mandatory;
        height: 100vh;
        overflow-y: scroll;
      }
} */

.app {
  max-width: 100%;
  margin: auto;
  font-family: "source-serif";

  width: 100%;
  overflow-x: hidden;
}

@media screen and (min-width: 1024px) {
  html {
    /* font-size: calc(100vw / 2000 * 16); */
    font-size: calc(80vw / 1440 * 16);
  }
}
